ACCESS_TOKEN = '<access token>'

# Device GUIDs can be found using https://api.ninja.is/rest/v0/devices/?access_token=<YOUR_ACCESS_TOKEN>

LED_ID      = '<device guid>'
ACCEL_ID    = '<device guid>'
TEMP_ID     = '<device guid>'