# Access token from https://a.ninja.is/you#apiTab
ACCESS_TOKEN = '<access token>'

# Device GUID can be found using api.getDevices(), or from
# https://api.ninja.is/rest/v0/devices/?access_token=<YOUR_ACCESS_TOKEN>
LED_ID      = '<device guid>'
ACCEL_ID    = '<device guid>'
TEMP_ID     = '<device guid>'